h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
    }
body {
  font-family: 'Montserrat';
}
h2 {
      font-size: 3rem;
      line-height: 1.5}
h3 {
      font-size: 2rem;
      font-weight: 400;}
p {  font-family: 'Montserrat, sans-serif';  font-size: 1rem;   font-weight: 100;}
#title {
  background-color: #ff4c68;
  color: white;

}
.container-fluid {
  padding: 3% 15% 2%;
}
.big-heading {
  font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem;
        line-height: 1.5;
        font-weight: bolder;
        color: white;
        padding-bottom: 2rem;
}
nav {
  background-color: #ff4c68;
  font-family: "Ubuntu";
  font-weight: bold;
}
#features {
  background-color: white;
  position: relative;
  bottom: 150px;

  }
.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
  font-weight: 300;
}
.nav-item {
  padding-left: 6px;
  padding-right: 0px;
}
.buttons {
  margin: 2% 3% 0 0;
}
.rotate {
  transform: rotate(20deg);
  margin-left: 8rem;
  width: 18rem;
  height: auto;
  padding: 20px;
  position: relative;
}

.m-bold {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}
.fas {
  color: #ef8172;
  padding-bottom: 10px;
}
.text {
  text-align: center;
  line-height: 20px;
}
.color {
  color: #8f8f8f;
}
.btn-outline-light:hover {
  color: #ff4c68;
}
.row {
  padding-top: 2rem;
  padding-bottom: -3rem;
}
.row1 {
  padding-top: 9rem;
  padding-bottom: -6rem;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  font-weight: lighter;
  }
.dogphoto {
  width: 10%;
  border-radius: 50%;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
  }
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  padding-bottom: 2rem;
}
#pricing {
  padding: 3% 15%;
  text-align: center;
}

@media (max-width: 1028px) {
 .rotate {
   position: static;
   transform: rotate(0deg);
 }
 #title {
   text-align: center;
 }
 #features {
   position: static;
   padding-bottom: 6rem;
 }
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 6rem;
}
.cta {
  font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem;
        line-height: 1.5;
        font-weight: bolder;
        color: white;
}
#footer {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}
.Bakhtiyor {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
